# Application Port
PORT=4000

# PostgreSQL Environment Variables
DATABASE_URL="postgresql://postgres:user@localhost:5432/postgre_db?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=user
POSTGRES_DB=postgre_db

# Redis Environment Variables
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_password

# Kafka Environment Variables
KAFKAJS_NO_PARTITIONER_WARNING=1
KAFKA_LISTENER_SECURITY_PROTOCOL=PLAINTEXT