PORT=4000

DATABASE_URL="postgresql://postgres:user@localhost:5432/postgre_db?schema=public"

# PostgreSQL Environment Variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=user
POSTGRES_DB=postgre_db

# Redis Environment Variables
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_password

# Kafka Environment Variables
KAFKA_LISTENER_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:9093,EXTERNAL://localhost:9093
KAFKA_LISTENERS=INTERNAL://0.0.0.0:9093,EXTERNAL://0.0.0.0:9093
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
KAFKA_KRAFT_MODE=true
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1